.star-wars-intro {
    -webkit-user-select: none;
    height: 90%;
    background-image: url("/assets/img/stars-bg.jpg");
    background-position: center;

    mat-icon {
        font-size: 2em;
        margin: 0.5em;
        cursor: pointer;
    }
}

.film-info-container {
    padding: 2em;

    h2 {
        font-weight: 400;
    }

    mat-expansion-panel {
        margin: 1em 0;

        mat-panel-title {
            font-weight: 500;
        }
    }

    p {
        font-weight: 600;

        span {
            font-weight: normal;
        }
    }
}
