.home-container {
    background: url("/assets/stars-bg.jpg") center center;
    padding: 2em;
    height: 100%;

    .site-intro {
        color: #fff;
        text-align: center;

        img {
            max-height: 10em;
        }
    }

    .movies {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        mat-card {
            cursor: pointer;
            flex-basis: 25%;
            -ms-flex: auto;
            position: relative;
            box-sizing: border-box;
            margin: 0.5em;
            padding: 0.1em;
            background-color: #ffff00;
            max-height: 20em;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 1333px) {
    mat-card {
        flex-basis: 25%;
    }
}

@media (max-width: 1073px) {
    mat-card {
        flex-basis: 25%;
    }
}

@media (max-width: 815px) {
    mat-card {
        flex-basis: 50%;
    }
}

@media (max-width: 555px) {
    .home-container {
        h1 {
            font-size: 1.2em;
        }
    }

    mat-card {
        flex-basis: 100%;
    }
}
